.header{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  @media screen and (min-width: 481px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }}

.header-nav {
  display: flex;
}

.header-nav-list {
  display: flex;
}
.logo, .nav{
  display: flex;
  justify-content:space-around;
  margin: auto 0;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
}
  body.dark-theme .logo,body.dark-theme .nav{
    text-shadow: 0 0 5px #333, 0 0 10px #333, 0 0 15px #333, 0 0 20px #333, 0 0 30px #333, 0 0 40px #333, 0 0 55px #333, 0 0 75px #333;
  }

.logo>a{
  margin-top: auto;
  margin-bottom: auto;
}