.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (min-width: 481px) {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 68px;
  }
}

.header-nav {
  display: flex;
}

.header-nav-list {
  display: flex;
}
.logo,
.nav,
.registration-btn {
  display: flex;
  justify-content: space-around;
  margin: auto 0;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 0 5px $white, 0 0 10px $white, 0 0 15px $white, 0 0 20px $white,
    0 0 30px $white, 0 0 40px $white, 0 0 55px $white, 0 0 75px $white;
}
body.dark-theme .logo,
body.dark-theme .nav,
body.dark-theme .registration-btn {
  text-shadow: 0 0 5px $gray, 0 0 10px $gray, 0 0 15px $gray, 0 0 20px $gray,
    0 0 30px $gray, 0 0 40px $gray, 0 0 55px $gray, 0 0 75px $gray;
}

.logo > a {
  margin-top: auto;
  margin-bottom: auto;
}
.nav-reg {
  display: inline-flex;
}
