// Сюда импортируем весь sсss

@import 'colors.scss';
@import 'reset.scss';
@import 'container.scss';
@import 'preloader.scss';
@import 'scroll.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'switch-theme.scss';
@import 'slider.scss';
@import 'search.scss';
@import 'gallery.scss';
@import 'modal.scss';
@import 'footer.scss';
@import 'registration.scss';
@import 'toTop.scss';
@import 'trailer-modal.scss';
@import '../../node_modules/@glidejs/glide/src/assets/sass/glide.theme';
@import '../../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss';
