.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    z-index: 99;
    & .modal {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 90%;
  padding: 48px 20px 41px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 99;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    height: 568px;
    width: 882px;
    padding: 50px 30px 41px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 562px;
    width: 618px;
  }
}

body.light-theme .modal {
  background-color: #dbd1d1;
  box-shadow: 5px 5px 15px 5px #653b80;
}

body.dark-theme .modal {
  color: #fff;
  background-color: #11061b;
  box-shadow: 5px 5px 15px 5px #380e0e;
}

.modal-close {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #ff6b01;
  background-color: #fff;
  min-width: 30px;
  min-height: 30px;
  top: 10px;
  right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

body.light-theme .modal-close {
  background-color: #dbd1d1;
  box-shadow: 1px 1px 20px 1px #ab8ac0;
}

body.dark-theme .modal-close {
  color: #ff6b01;
  background-color: #11061b;
  box-shadow: 5px 5px 15px 5px #380e0e;
}

.close-icone {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.film-info-container {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
  }
}

.film-info {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 32px;
  }
}

.film-poster-wrapper {
  width: 240px;
  height: auto;
  @media screen and (min-width: 1200px) {
    width: 396px;
    height: 478px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 264px;
    height: 374px;
  }
}

.film-poster {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.film-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #ff6b01;
  margin-top: 30px;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.17;
    margin-top: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 0;
  }
}

.film-descr-container {
  display: flex;
  align-items: flex-start;
}

.film-description-txt {
  margin-left: 39px;
  @media screen and (min-width: 1200px) {
    margin-left: 80px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 39px;
  }
}

.film-descr-itm-txt {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 10px;
  & .vote-ave {
    width: 40px;
    height: 16px;
    font-size: 12px;
    line-height: 1.15;
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #fff;
    background: #ff6b01;
    border-radius: 5px;
  }
}

.film-descr-itm {
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
  margin-bottom: 10px;
}

.button-add-container {
  display: flex;
  align-items: center;
}

.modal-button {
  width: 113px;
  height: 44px;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  &.add-t-w {
    background: #ff6b01;
    border: 0;
    outline: 0;
  }
  &.add-t-q {
    margin-left: 15px;
    border: 1px solid #000000;
    box-sizing: border-box;
    background: #fff;
  }
}

.about-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  width: 240px;
  margin-top: 10px;
  overflow: scroll;
  align-items: center;
  @media screen and (min-width: 1200px) {
    min-width: 396px;
    max-height: 160px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-width: 264px;
  }
}

.about-title {
  font-size: 12px;
  line-height: 1.33;
  text-align: inherit;
  text-transform: uppercase;
  color: #ff6b01;
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
  }
}

.close-modal-btn {
  color: orangered;
  font-weight: 700;
  font-size: 20px;
}
