.nav-list {
  display: flex;
  align-items: flex-start;
  list-style: none;
}
.nav-item {
  text-decoration: none;
  position: relative;
}
.nav-item:first-child {
  margin-right: 15px;
}
.nav-item > a.current:after {
  position: absolute;
  content: '';
  height: 2px;
  background-color: $accent;
  width: 100%;
  margin-left: -100%;
  bottom: -5px;
}
