.registration {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registration-btn {
  padding: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 16px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff,
    0 0 30px #fff, 0 0 40px #fff, 0 0 55px #fff, 0 0 75px #fff;
  background-color: transparent;
  border: none;
}

body.dark-theme .registration-btn {
  color: #fff;
}

.user-img {
  border-radius: 50%;
  margin-left: 15px;
}

.user-item {
  margin-left: 10px;
}

#registration-container .modal {
  width: auto;
  height: auto;
  padding: 40px 0 0;
}
