::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: gainsboro;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: $gray;
}
::-webkit-scrollbar-thumb:hover {
  background: $accent;
}
