body.light-theme {
background-color: #fff;
color: #333333;
}

body.dark-theme {
background-color: #333333;
color: #fff;
}

.button__icon {
margin-right: 8px;
} 
.buttons{
display: flex;
justify-content: flex-end;
align-items: baseline;
}
.btn-submit{
outline: 1px solid orangered;
position: absolute;
top: 10%;
right: 20%;
}    

.theme-switch {
display: inline-flex;
align-items: center;
}

.theme-switch__icon {
color: orangered;
height: 24px;
width: 24px;
margin-right: 8px;
margin-left: 8px;
}
.theme-switch__logo{
color: orangered;
height: 24px;
width: 24px;
margin-right: 8px;
margin-left: 8px;
}

.theme-switch__control {
display: flex;
align-items: center;
flex-shrink: 0;
position: relative;
width: 64px;
height: 32px;
border-radius: 50em;
padding: 3px 0;
}

.theme-switch__toggle {
position: absolute;
left: 0;
top: 0;
margin: 0;
padding: 0;
opacity: 0;
height: 0;
width: 0;
pointer-events: none;
}

.theme-switch__track {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
color: transparent;
user-select: none;
background-color: rgb(199, 192, 192);
border-radius: inherit;
z-index: 1;
cursor: pointer;
}

.theme-switch__marker {
position: relative;
background-color: #fff;
width: 26px;
height: 26px;
border-radius: 50%;
z-index: 2;
pointer-events: none;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
transform: translateX(3px);
transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
background-color: grey;
}
.theme-switch__toggle:checked  .theme-switch__icon {
color: tomato;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
box-shadow: 0 0 0 3px orangered;
}
