body.light-theme {
  background-color: $white;
  background-image: url(../images/white-theme-bg2.jpg);
  // background-image: url(../images/test-1.jpeg);

  color: $gray;
}

body.dark-theme {
  background-color: $black;
  // background-image: url(../images/black-theme-bg.jpg);
  background-image: url(../images/test-black-1.jpg);

  color: $white;
}

.button__icon {
  margin-right: 8px;
}
.switch {
  display: flex;
  justify-content: right;

  align-items: baseline;
  @media screen and (min-width: 320px) {
    justify-content: right;
  }
  @media screen and (min-width: 480px) {
    justify-content: flex-end;
  }
}
.btn-submit {
  outline: 1px solid $accent;
  position: absolute;
  top: 10%;
  right: 20%;
}

.theme-switch {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
  position: absolute;
  top: 60px;
  right: 8%;
  @media screen and (min-width: 481px) {
    display: inline-flex;

    top: 125px;
  }

  @media screen and(min-width:768px) {
    top: 97px;
    right: 10%;
  }
}

.theme-switch__icon {
  color: $accent;
  width: 12px;
  height: 12px;
  margin-right: 3px;
  margin-left: 3px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    height: 22px;
    width: 22px;
    margin-right: 8px;
    margin-left: 8px;
  }
}
.theme-switch__logo {
  color: $accent;
  height: 22px;
  width: 22px;
  margin-right: 5px;
  margin-left: 5px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  border-radius: 50em;
  padding: 3px 0;
  border: 1px solid $accent;

  box-shadow: -10px 0px 13px -7px $white, 10px 0px 13px -7px $white,
    0px 0px 50px 20px $white;

  @media screen and (min-width: 320px) {
    width: 32px;
    height: 14px;
  }

  @media screen and (min-width: 768px) {
    width: 60px;
    height: 26px;
  }
}
body.dark-theme .theme-switch__control {
  box-shadow: -10px 0px 13px -7px $black 10px 0px 13px -7px $black 0px 0px 50px
    20px $black;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: rgb(199, 192, 192);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 0 0 3px $accent;
}

.theme-switch__marker {
  position: relative;
  background-color: $white;
  width: 10px;
  height: 14px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translate(1px, 0px);
  transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  @media screen and (min-width: 320px) {
    width: 50%;
  }

  @media screen and (min-width: 768px) {
    width: 26px;
    height: 26px;
  }
}

//*при переключении на темную тему:
.theme-switch__toggle:checked + .theme-switch__track {
  background-color: grey;
}
body.dark-theme .input-search,
body.dark-theme .input-search:focus,
body.dark-theme .input-search:hover {
  background-color: rgba(51, 51, 51, 0.7);
  color: $white;
}
body.dark-theme .btn-submit {
  background-color: rgba(51, 51, 51, 0.7);
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  // transform: translateX(35px);
  color: $white;
  @media screen and (min-width: 320px) {
    transform: translateX(15px);
  }

  @media screen and (min-width: 768px) {
    transform: translateX(35px);
  }
}
