<div class="film-poster-wrapper">
  <img src="#" alt="" class="film-poster">
</div>
<div class="film-info">
  <h2 class="film-title">title</h2>
  <ul>
    <li>Vote / Votes</li>
    <li>Popularity</li>
    <li>Original Title</li>
    <li>Genre</li>
  </ul>
  <h3>About</h3>
  <p></p>
</div>